<p>Hello,</p>
<p>You recently requested a password reset.</p>
<p>Please click the link below to open the app and reset your password:</p>
<p><%= link("Reset My Password", to: redeem_password_reset_url(@token)) %></p>
<p>Please note that this link will expire after one hour.</p>
